#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  // background: $white-color;
  // DARK MODE
  // background: oklch(39.6% 0.141 25.723);
  // background: oklch(40.8% 0.123 38.172);
  // background: oklch(41.4% 0.112 45.904);
  // background: oklch(42.1% 0.095 57.708);
  // background: oklch(40.5% 0.101 131.063);
  // background: oklch(39.3% 0.095 152.535); // good
  // background: oklch(37.8% 0.077 168.94);  // good
  // background: oklch(38.6% 0.063 188.416); // good
  // background: oklch(39.8% 0.07 227.392);  // good
  // background: oklch(39.1% 0.09 240.876);  // good
  // background: oklch(37.9% 0.146 265.522); // good
  // background: oklch(35.9% 0.144 278.697);  // good
  // background: oklch(38% 0.189 293.745);// good
  // background: oklch(38.1% 0.176 304.987);// good
  // background: oklch(40.1% 0.17 325.612);// good
  // background: oklch(40.8% 0.153 2.432);// good
  // background: oklch(41% 0.159 10.272);// good
  // background: oklch(20.8% 0.042 265.755);// good
  // background: oklch(21% 0.034 264.665);// good
  // background: oklch(21% 0.006 285.885);// good
  // background: oklch(20.5% 0 0);// good
  // background: oklch(21.6% 0.006 56.043);// good
  // background: oklch(21.4% 0.009 43.1);// good
  // background: oklch(21.2% 0.019 322.12);// good
  // background: oklch(21.8% 0.008 223.9);// good
  // background: oklch(22.8% 0.013 107.4);// good
// LIGHT MODE
background: oklch(93% 0.034 272.788);
  font-weight: 400;
  color: $dark-blue-text;
  // color: $white-color;
  padding: 0rem 5.6rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  line-height: 1.2;
  animation: hidden 1000ms linear forwards;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
    background-position: center;
    background-size: cover; */

  @include respond(tab-port) {
    justify-content: center;
  }
  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    span {
      margin: 0;
      display: inline-block;
    }

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
.scroll-down-link {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  &::before,
  &::after {
    height: 10px;
    width: 10px;
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid $secondary-color;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: none;
    border-left: none;
    animation: scroll-down 1s ease-in-out infinite;
  }
  &::after {
    top: 30%;
    animation-delay: 0.3s;
  }
}

@keyframes hidden {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
